.container {
  width: 600px;
  min-height: 100vh;
  margin: auto;
  padding: 0;
  background-image: linear-gradient(120deg, #a88beb, #f8ceec);
}

.box {
  margin: auto;
  background-color: #c2255c;
  width: 30%;
  height: 15%;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  color: #fff0f6;
  padding: 10px;
  margin: 0;
}
